
.banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
}
.texto_banner{
    width: 700px;
    padding: 5%;
    margin: 20px;
    
}

.imgban{
    width: 50%;
    float: right;

} 
.menu ul a{
    text-decoration: none;
    margin-left: 9px;
    color: black;
    background:  gray;
    
}
